# Working with Data - Le Xu

OUTLINE: 
1. Define a research question 
2. Think about what data are available 
3. Think about possible measurement errors 
4. Think about the interpretation of your results 
5. Inform your results by linking datasets

# 1. Define a reserach question
Which Community Districts in NYC show the highest number of complaints?

# 2. Think about what data are available
Find suitable data by searching the CUSP Data Catalog https://datahub.cusp.nyu.edu/catalog

In [1]:
import os
import pandas as pd
import numpy as np
import re
PUIdata = os.getenv('PUIDATA')

In [2]:
data = pd.read_csv('/projects/open/NYCOpenData/nycopendata/data/erm2-nwe9/1446832678/erm2-nwe9')

/opt/rh/anaconda/root/envs/PUI2016_Python3/lib/python3.5/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning: Columns (8,17,39,40,47,48) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

# 3. Think about possible measurement errors
Do you see any problems regarding possible measurement error? Think about who is represented in the data, ommissions, duplications, content error, missing data, etc.

In [3]:
data.head()

,Unique Key,Created Date,Closed Date,Agency,Agency Name,Complaint Type,Descriptor,Location Type,Incident Zip,Incident Address,...,Bridge Highway Name,Bridge Highway Direction,Road Ramp,Bridge Highway Segment,Garage Lot Name,Ferry Direction,Ferry Terminal Name,Latitude,Longitude,Location
0,31911011,11/05/2015 02:59:15 AM,NaN,DOT,Department of Transportation,Street Condition,Pothole,NaN,11224,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.573431,-73.991742,"(40.57343122248129, -73.99174247588253)"
1,31908754,11/05/2015 02:09:49 AM,NaN,CHALL,CHALL,Opinion for the Mayor,HOUSING,NaN,NaN,NaN,...,NaN,NaN,NaN,1-1-1173130914,NaN,NaN,NaN,NaN,NaN,NaN
2,31910423,11/05/2015 02:06:51 AM,NaN,DPR,Department of Parks and Recreation,Root/Sewer/Sidewalk Condition,Trees and Sidewalks Program,Street,11234,1157 EAST 57 STREET,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.625004,-73.920726,"(40.62500363580505, -73.92072558378698)"
3,31909924,11/05/2015 02:02:20 AM,NaN,NYPD,New York City Police Department,Illegal Parking,Blocked Hydrant,Street/Sidewalk,11218,722 EAST 4 STREET,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.634522,-73.974790,"(40.634522428879706, -73.97479041437481)"
4,31913310,11/05/2015 01:57:20 AM,11/05/2015 01:57:31 AM,HRA,HRA Benefit Card Replacement,Benefit Card Replacement,Medicaid,NYC Street Address,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [143]:
data1 = data

In [144]:
data1.info() # to take general look of the data

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10187766 entries, 0 to 10187765
Data columns (total 54 columns):
Unique Key                        int64
Created Date                      object
Closed Date                       object
Agency                            object
Agency Name                       object
Complaint Type                    object
Descriptor                        object
Location Type                     object
Incident Zip                      object
Incident Address                  object
Street Name                       object
Cross Street 1                    object
Cross Street 2                    object
Intersection Street 1             object
Intersection Street 2             object
Address Type                      object
City                              object
Landmark                          object
Facility Type                     object
Status                            object
Due Date                          object
Resolution Description            object
Resolution Action Updated Date    object
Community Board                   object
Borough                           object
X Coordinate (State Plane)        float64
Y Coordinate (State Plane)        float64
Park Facility Name                object
Park Borough                      object
School Name                       object
School Number                     object
School Region                     object
School Code                       object
School Phone Number               object
School Address                    object
School City                       object
School State                      object
School Zip                        object
School Not Found                  object
School or Citywide Complaint      object
Vehicle Type                      object
Taxi Company Borough              object
Taxi Pick Up Location             object
Bridge Highway Name               object
Bridge Highway Direction          object
Road Ramp                         object
Bridge Highway Segment            object
Garage Lot Name                   object
Ferry Direction                   object
Ferry Terminal Name               object
Latitude                          float64
Longitude                         float64
Location                          object
mask                              float64
dtypes: float64(5), int64(1), object(48)
memory usage: 4.1+ GB

In [145]:
# Check if all Boroughs and Community Districts are represented in the Data

In [146]:
data1.Borough.unique()  #Five boroughs and one unspecified

array(['BROOKLYN', 'Unspecified', 'STATEN ISLAND', 'MANHATTAN', 'BRONX',
       'QUEENS'], dtype=object)

In [147]:
data1['Community Board'].unique()

array(['13 BROOKLYN', '0 Unspecified', '18 BROOKLYN', '12 BROOKLYN',
       '02 STATEN ISLAND', '08 MANHATTAN', '06 BROOKLYN', '10 BRONX',
       '06 MANHATTAN', '04 BROOKLYN', '04 QUEENS', '09 MANHATTAN',
       '14 BROOKLYN', '05 MANHATTAN', '02 MANHATTAN', '10 QUEENS',
       '07 QUEENS', '02 QUEENS', '11 BROOKLYN', '05 QUEENS', '05 BROOKLYN',
       '09 QUEENS', '12 MANHATTAN', '01 BROOKLYN', '11 MANHATTAN',
       '03 BRONX', '03 STATEN ISLAND', '08 BROOKLYN', '03 BROOKLYN',
       '07 MANHATTAN', '10 MANHATTAN', '04 BRONX', '01 MANHATTAN',
       '07 BRONX', '09 BRONX', '03 MANHATTAN', '13 QUEENS', '02 BRONX',
       '12 QUEENS', '16 BROOKLYN', '08 QUEENS', '04 MANHATTAN',
       '14 QUEENS', '10 BROOKLYN', '11 QUEENS', '06 BRONX', '08 BRONX',
       '05 BRONX', '15 BROOKLYN', '02 BROOKLYN', '12 BRONX', '03 QUEENS',
       '06 QUEENS', '01 STATEN ISLAND', '01 BRONX', '01 QUEENS',
       '17 BROOKLYN', '11 BRONX', 'Unspecified QUEENS', '09 BROOKLYN',
       'Unspecified MANHATTAN', 'Unspecified BROOKLYN', '07 BROOKLYN',
       'Unspecified BRONX', '64 MANHATTAN', '81 QUEENS', '55 BROOKLYN',
       '83 QUEENS', 'Unspecified STATEN ISLAND', '28 BRONX', '80 QUEENS',
       '26 BRONX', '95 STATEN ISLAND', '82 QUEENS', '27 BRONX',
       '56 BROOKLYN', '84 QUEENS'], dtype=object)

# Q: How many unique values do we have?

In [148]:
len(data1['Community Board'].unique())

77

## A: We have 77 unique values, which is not correct. We need to have 59 community districts. Some of them are unspecified, missing. Some might be invalid entries.

In [149]:
data_new = data1.loc[:,["Agency Name","Incident Zip","Community Board","Borough","Latitude","Longitude"]] #narrow down

## Check for duplicates? Are these plausible?

In [150]:
data_new = data_new.drop_duplicates()

In [153]:
len(data_new['Community Board'])

2955956

In [154]:
len(data_new['Community Board'].unique())

77

## By narrowed down to six columns, the drop_duplicateds showed me 2,955,956 records, instead of original 10,187,766 records. Since I included latitude, longtitude, angecy name, so I can make some prediction that some complaints were made by same people/location. But the numbers community Board stays at 77. 
---

# Let's deal with the Missing values?

In [155]:
data1.isnull().sum()

Unique Key                               0
Created Date                             0
Closed Date                         450879
Agency                                   0
Agency Name                              0
Complaint Type                           0
Descriptor                           31057
Location Type                      3067596
Incident Zip                        794159
Incident Address                   2197706
Street Name                        2198559
Cross Street 1                     2375943
Cross Street 2                     2425793
Intersection Street 1              8345288
Intersection Street 2              8346302
Address Type                        490299
City                                788712
Landmark                          10180456
Facility Type                      8579485
Status                                   0
Due Date                           7120286
Resolution Description                   0
Resolution Action Updated Date      250934
Community Board                          0
Borough                                  0
X Coordinate (State Plane)          878752
Y Coordinate (State Plane)          878752
Park Facility Name                       0
Park Borough                             0
School Name                              0
School Number                         2283
School Region                        56197
School Code                          56196
School Phone Number                      0
School Address                           6
School City                              0
School State                             0
School Zip                               5
School Not Found                   7151698
School or Citywide Complaint      10185412
Vehicle Type                      10180264
Taxi Company Borough              10177601
Taxi Pick Up Location             10089207
Bridge Highway Name               10152671
Bridge Highway Direction          10152723
Road Ramp                         10152986
Bridge Highway Segment            10135780
Garage Lot Name                   10183433
Ferry Direction                   10185023
Ferry Terminal Name               10181242
Latitude                            878752
Longitude                           878752
Location                            878752
mask                                955186
dtype: int64

## Replacing Missing Values:
### to fill missings in Resolution Descriptor with Complaint Type

In [156]:
data1["Resolution Description"].fillna(value = data1["Complaint Type"], inplace = True )

In [157]:
data1["Resolution Description"].isnull().sum()

0

## Find the unplausible Community Districts

### From the resource  http://nyc.pediacities.com/Community_Districts, we can see there are total 12 Manhattan Dist, and 18 in Brooklyn, 14 in Queens, 12 in Bronx, 3 in Staten Island.

In [158]:
# Drop the marked districts
data1["mask"]= data1['Community Board'].map(lambda x: (x[:2]))

In [159]:
data1["mask"].value_counts()
# We have to clean the data

0     1109446
Un     955186
12     816211
01     691859
03     681232
05     661441
07     640140
09     562097
04     553635
02     550604
08     506059
10     472793
11     459292
06     408763
14     291190
13     236213
17     191720
18     156100
15     146129
16      85467
83       3072
80       2363
81       1420
64        904
56        834
55        767
82        725
95        531
27        469
28        433
26        397
84        274
Name: mask, dtype: int64

In [390]:
#make the string into numbers
data1["mask"] = pd.to_numeric(data1["mask"], errors='coerce')

In [391]:
# district number between 1(min)-18(max)
data2 = data1[data1["mask"]<19]
data2 = data2[data2["mask"]>0]

In [392]:
len(data2['Community Board'].unique())

59

                      Finally, we are able to get 59 unique Comunity Board.
---

## Generate an indicator which ranks the Community District by complaint numbers on the Community district level

In [393]:
# Safe reduced data frame (Community District level)
data2_g = data2["Unique Key"].groupby(data2["Community Board"]).count()
data2_g = pd.DataFrame(data2_g)
data2_g["Rank by Complaints"] = data2_g.rank(ascending=False).sort()

/opt/rh/anaconda/root/envs/PUI2016_Python3/lib/python3.5/site-packages/ipykernel/__main__.py:4: FutureWarning: sort(....) is deprecated, use sort_index(.....)

In [394]:
data2_sorted = data2_g.sort("Rank by Complaints").reset_index()
data2_sorted.head()

/opt/rh/anaconda/root/envs/PUI2016_Python3/lib/python3.5/site-packages/ipykernel/__main__.py:1: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)
  if __name__ == '__main__':

  Community Board  Unique Key  Rank by Complaints
0    12 MANHATTAN      268053                 1.0
1       12 QUEENS      229383                 2.0
2     03 BROOKLYN      197306                 3.0
3       07 QUEENS      195961                 4.0
4     17 BROOKLYN      191720                 5.0

## I ranked the Community districts by the Unique Key of each record. It shows the Manhattan 12 district has the most complaints. 
---

# 4. Think about the interpretation of the results?

## Population by Community District

In [395]:
# Population by Community District
df_pop = pd.read_csv(PUIdata + "/Final_Demographics.csv")

In [396]:
# Check variables in file
df_pop.head(10)

,FIPS,cd_id,Total Population,Population Density (per sq. mile),% Total Population: Male,% Total Population: 18 to 24 Years,% Total Population: 25 to 34 Years,% Total Population: 35 to 44 Years,% Population 5 Years And Over: Speak Only English,% Population 5 Years And Over: Spanish or Spanish Creole,...,"Employed Civilian Population 16 Years And Over: Production, transportation, and material moving occupations: Production occupations","Employed Civilian Population 16 Years And Over: Production, transportation, and material moving occupations: Transportation and material moving occupations","% Employed Civilian Population 16 Years And Over: Management, professional, and related occupations",% Employed Civilian Population 16 Years And Over: Service occupations,% Employed Civilian Population 16 Years And Over: Sales and office occupations,"% Employed Civilian Population 16 Years And Over: Farming, fishing, and forestry occupations","% Employed Civilian Population 16 Years And Over: Construction, extraction, and maintenance occupations","% Employed Civilian Population 16 Years And Over: Production, transportation, and material moving occupations","% Employed Civilian Population 16 Years And Over: Production, transportation, and material moving occupations: Production occupations","% Employed Civilian Population 16 Years And Over: Production, transportation, and material moving occupations: Transportation and material moving occupations"
0,3603701,BX08,106737,31229.95006,46.65,10.73,15.04,11.32,46.80,39.24,...,665,1518,42.66,28.95,20.89,0.24,2.65,4.60,1.40,3.20
1,3603702,BX12,134644,19966.67839,46.35,11.35,14.29,12.57,73.09,18.19,...,1156,4174,29.57,33.98,20.40,0.00,7.08,8.97,1.95,7.02
2,3603703,BX10,121209,12913.81703,45.20,8.62,13.74,12.78,61.79,26.43,...,941,3433,36.20,22.85,25.09,0.00,7.68,8.18,1.76,6.42
3,3603704,BX11,135839,35677.95453,50.09,8.10,17.43,14.09,43.22,36.45,...,2189,5592,30.06,27.86,22.24,0.00,7.03,12.81,3.60,9.20
4,3603705,BX03,172247,39405.79222,44.72,14.24,14.89,12.38,36.82,54.24,...,1437,5436,16.80,41.00,22.29,0.03,8.45,11.43,2.39,9.04
5,3603705,BX06,172247,39405.79222,44.72,14.24,14.89,12.38,28.21,59.53,...,1437,5436,16.80,41.00,22.29,0.03,8.45,11.43,2.39,9.04
6,3603706,BX07,135893,86487.07792,48.48,10.58,14.97,15.32,29.10,62.49,...,2590,4653,21.49,31.83,24.74,0.00,9.34,12.60,4.51,8.09
7,3603707,BX05,132850,87974.34860,45.75,13.10,16.34,11.96,29.84,59.43,...,1927,5345,16.10,39.78,21.56,0.11,8.19,14.26,3.78,10.48
8,3603708,BX04,141467,71270.88219,45.64,12.28,12.41,13.10,42.97,47.55,...,1762,6444,17.47,37.11,23.89,0.00,6.03,15.50,3.33,12.17
9,3603709,BX09,190126,42752.50690,47.59,11.15,15.22,12.54,33.62,61.02,...,3061,7466,22.34,29.50,24.34,0.00,10.17,13.65,3.97,9.68

In [397]:
df_pop.columns

Index(['FIPS', 'cd_id', 'Total Population',
       'Population Density (per sq. mile)', '% Total Population: Male',
       '% Total Population: 18 to 24 Years',
       '% Total Population: 25 to 34 Years',
       '% Total Population: 35 to 44 Years',
       '% Population 5 Years And Over: Speak Only English',
       '% Population 5 Years And Over: Spanish or Spanish Creole',
       ...
       'Employed Civilian Population 16 Years And Over: Production, transportation, and material moving  occupations: Production occupations',
       'Employed Civilian Population 16 Years And Over: Production, transportation, and material moving  occupations: Transportation and material moving occupations',
       '% Employed Civilian Population 16 Years And Over: Management, professional, and related occupations',
       '% Employed Civilian Population 16 Years And Over: Service occupations',
       '% Employed Civilian Population 16 Years And Over: Sales and office occupations',
       '% Employed Civilian Population 16 Years And Over: Farming, fishing, and forestry occupations',
       '% Employed Civilian Population 16 Years And Over: Construction, extraction, and maintenance  occupations',
       '% Employed Civilian Population 16 Years And Over: Production, transportation, and material moving  occupations',
       '% Employed Civilian Population 16 Years And Over: Production, transportation, and material moving  occupations: Production occupations',
       '% Employed Civilian Population 16 Years And Over: Production, transportation, and material moving  occupations: Transportation and material moving occupations'],
      dtype='object', length=158)

In [398]:
# How many community districts are in file? 
df_pop.cd_id.unique()

array(['BX08', 'BX12', 'BX10', 'BX11', 'BX03', 'BX06', 'BX07', 'BX05',
       'BX04', 'BX09', 'BX01', 'BX02', 'MN12', 'MN09', 'MN10', 'MN11111',
       'MN08', 'MN07', 'MN05', 'MN04', 'MN06', 'MN03', 'MN01', 'MN02',
       'SI03', 'SI02', 'SI01', 'BK01', 'BK04', 'BK03', 'BK02', 'BK06',
       'BK08', 'BK16', 'BK05', 'BK18', 'BK17', 'BK09', 'BK07', 'BK10',
       'BK12', 'BK14', 'BK15', 'BK11', 'BK13', 'QN01', 'QN03', 'QN07',
       'QN11', 'QN13', 'QN08', 'QN04', 'QN06', 'QN02', 'QN05', 'QN09',
       'QN12', 'QN10', 'QN14'], dtype=object)

## Q: Who might be more likely to call 311
    A: People who live in crowded areas

In [399]:
# Manipulate data to get some information on demographics by Community District.

In [400]:
len(df_pop.cd_id.unique())

59

In [401]:
df_pop.groupby(df_pop.cd_id).sum()

,FIPS,Total Population,Population Density (per sq. mile),% Total Population: Male,% Total Population: 18 to 24 Years,% Total Population: 25 to 34 Years,% Total Population: 35 to 44 Years,% Population 5 Years And Over: Speak Only English,% Population 5 Years And Over: Spanish or Spanish Creole,"% Population 5 Years And Over: Spanish or Spanish Creole: Speak English ""very Well""",...,"Employed Civilian Population 16 Years And Over: Production, transportation, and material moving occupations: Production occupations","Employed Civilian Population 16 Years And Over: Production, transportation, and material moving occupations: Transportation and material moving occupations","% Employed Civilian Population 16 Years And Over: Management, professional, and related occupations",% Employed Civilian Population 16 Years And Over: Service occupations,% Employed Civilian Population 16 Years And Over: Sales and office occupations,"% Employed Civilian Population 16 Years And Over: Farming, fishing, and forestry occupations","% Employed Civilian Population 16 Years And Over: Construction, extraction, and maintenance occupations","% Employed Civilian Population 16 Years And Over: Production, transportation, and material moving occupations","% Employed Civilian Population 16 Years And Over: Production, transportation, and material moving occupations: Production occupations","% Employed Civilian Population 16 Years And Over: Production, transportation, and material moving occupations: Transportation and material moving occupations"
cd_id,,,,,,,,,,,,,,,,,,,,,
BK01,3604001,154713,37671.510580,49.93,8.52,29.88,13.70,72.48,15.53,9.81,...,1823,2894,52.80,15.35,22.83,0.00,3.47,5.55,2.14,3.40
BK02,3604004,139070,44719.888150,45.99,9.57,22.68,17.05,57.49,32.56,21.65,...,1196,1830,61.18,12.70,19.14,0.25,2.56,4.18,1.65,2.53
BK03,3604003,133235,58004.868160,47.55,12.75,19.43,11.55,77.10,17.30,10.83,...,1401,3220,38.00,25.77,23.45,0.34,4.57,7.87,2.39,5.48
BK04,3604002,137368,54279.761230,48.98,14.57,24.00,13.76,78.17,9.87,6.30,...,2500,4236,32.48,26.22,20.84,0.78,9.73,9.94,3.69,6.25
BK05,3604008,155863,26394.764690,45.49,11.18,15.29,12.60,25.03,37.69,16.50,...,2532,4407,22.95,31.85,26.95,0.00,6.98,11.27,4.11,7.16
BK06,3604005,125062,31218.503280,48.71,4.79,22.77,21.13,69.33,6.48,3.81,...,660,1121,72.16,6.67,16.34,0.00,2.30,2.53,0.94,1.59
BK07,3604012,152685,36736.915040,49.70,9.38,19.44,16.10,43.33,5.24,3.01,...,4255,3886,28.47,33.45,19.57,0.05,7.42,11.04,5.77,5.27
BK08,3604006,126747,57010.543560,46.57,10.12,19.57,16.61,80.23,5.63,3.61,...,939,3774,39.90,26.36,21.15,0.00,4.91,7.68,1.53,6.15
BK09,3604011,109337,64006.179970,45.55,11.44,20.14,12.49,50.85,13.08,5.85,...,944,2414,41.95,24.92,20.82,0.00,5.68,6.63,1.86,4.76
BK10,3604013,128545,33069.986680,48.47,7.29,17.02,14.02,27.63,10.75,4.14,...,1877,3837,41.93,20.93,23.51,0.00,4.20,9.44,3.10,6.34
BK11,3604017,187637,50644.631520,49.73,7.63,15.81,14.55,27.57,14.80,7.33,...,4220,5977,30.95,24.92,23.02,0.17,8.98,11.97,4.95,7.02
BK12,3604014,170011,54054.487510,50.97,8.66,14.25,12.58,31.65,10.94,4.90,...,1463,3622,35.73,20.84,27.19,0.47,7.77,8.00,2.30,5.70
BK13,3604018,110727,32537.409220,45.85,8.33,10.34,11.27,40.57,9.00,5.60,...,1841,3720,32.61,24.37,21.09,0.23,8.34,13.36,4.42,8.94
BK14,3604015,180723,62164.359800,46.21,9.68,16.91,12.37,41.83,24.16,12.48,...,1949,6774,38.94,25.20,18.74,0.00,6.28,10.85,2.42,8.42
BK15,3604016,137815,31829.054410,47.84,7.06,14.92,11.11,16.12,62.45,24.93,...,1991,3571,39.86,20.21,25.24,0.00,5.73,8.96,3.21,5.75
BK16,3604007,123772,47796.011830,43.49,9.36,15.89,12.49,71.10,7.96,5.09,...,1256,2507,20.53,39.80,23.63,0.00,7.19,8.85,2.95,5.90
BK17,3604010,137526,44659.444610,42.60,9.34,14.79,13.25,31.11,10.81,3.93,...,500,4202,29.73,32.56,22.41,0.00,7.91,7.39,0.79,6.60
BK18,3604009,210957,15374.526180,46.98,9.99,13.65,13.47,44.62,9.48,5.72,...,2225,7813,35.45,25.48,22.08,0.11,6.91,9.98,2.21,7.77
BX01,3603710,167147,34412.075240,49.63,12.76,18.26,12.04,27.49,66.53,29.48,...,1757,5806,17.71,39.30,22.68,0.00,5.70,14.61,3.39,11.22
BX02,3603710,167147,34412.075240,49.63,12.76,18.26,12.04,49.63,36.01,19.61,...,1757,5806,17.71,39.30,22.68,0.00,5.70,14.61,3.39,11.22
BX03,3603705,172247,39405.792220,44.72,14.24,14.89,12.38,36.82,54.24,30.09,...,1437,5436,16.80,41.00,22.29,0.03,8.45,11.43,2.39,9.04
BX04,3603708,141467,71270.882190,45.64,12.28,12.41,13.10,42.97,47.55,26.89,...,1762,6444,17.47,37.11,23.89,0.00,6.03,15.50,3.33,12.17
BX05,3603707,132850,87974.348600,45.75,13.10,16.34,11.96,29.84,59.43,28.79,...,1927,5345,16.10,39.78,21.56,0.11,8.19,14.26,3.78,10.48
BX06,3603705,172247,39405.792220,44.72,14.24,14.89,12.38,28.21,59.53,31.86,...,1437,5436,16.80,41.00,22.29,0.03,8.45,11.43,2.39,9.04
BX07,3603706,135893,86487.077920,48.48,10.58,14.97,15.32,29.10,62.49,30.34,...,2590,4653,21.49,31.83,24.74,0.00,9.34,12.60,4.51,8.09
BX08,3603701,106737,31229.950060,46.65,10.73,15.04,11.32,46.80,39.24,24.01,...,665,1518,42.66,28.95,20.89,0.24,2.65,4.60,1.40,3.20
BX09,3603709,190126,42752.506900,47.59,11.15,15.22,12.54,33.62,61.02,29.07,...,3061,7466,22.34,29.50,24.34,0.00,10.17,13.65,3.97,9.68
BX10,3603703,121209,12913.817030,45.20,8.62,13.74,12.78,61.79,26.43,19.51,...,941,3433,36.20,22.85,25.09,0.00,7.68,8.18,1.76,6.42
BX11,3603704,135839,35677.954530,50.09,8.10,17.43,14.09,43.22,36.45,22.78,...,2189,5592,30.06,27.86,22.24,0.00,7.03,12.81,3.60,9.20
BX12,3603702,134644,19966.678390,46.35,11.35,14.29,12.57,73.09,18.19,12.12,...,1156,4174,29.57,33.98,20.40,0.00,7.08,8.97,1.95,7.02
MN01,3603810,159903,53928.053600,49.00,8.55,28.38,18.14,65.31,19.32,11.77,...,655,1404,73.33,4.22,19.67,0.00,0.75,2.04,0.65,1.39
MN02,3603810,159903,53928.053600,49.00,8.55,28.38,18.14,44.94,22.34,12.89,...,655,1404,73.33,4.22,19.67,0.00,0.75,2.04,0.65,1.39
MN03,3603809,152453,87256.670150,50.34,10.72,21.18,13.66,63.29,6.74,4.42,...,761,1762,52.84,21.01,20.02,0.08,2.78,3.27,0.99,2.29
MN04,3603807,149447,48626.990950,51.44,8.82,29.41,17.81,73.93,5.37,4.26,...,978,667,68.37,8.35,20.44,0.07,1.14,1.64,0.97,0.66
MN05,3603807,149447,48626.990950,51.44,8.82,29.41,17.81,45.29,20.63,13.08,...,978,667,68.37,8.35,20.44,0.07,1.14,1.64,0.97,0.66
MN06,3603808,143349,87333.791040,45.70,10.88,28.09,11.00,78.30,4.53,3.39,...,659,1140,72.16,5.75,18.85,0.00,1.32,1.92,0.70,1.22
MN07,3603806,192374,65024.961090,46.37,5.38,17.74,14.88,73.38,6.42,5.36,...,1319,1302,72.22,8.10,14.91,0.00,2.40,2.37,1.19,1.18
MN08,3603805,221898,109960.139600,42.11,4.03,24.19,15.73,67.27,11.53,7.61,...,169,765,70.55,4.79,22.18,0.00,1.77,0.71,0.13,0.58
MN09,3603802,130739,77402.950100,48.06,19.14,19.88,12.03,47.08,40.57,24.19,...,975,2361,46.06,23.09,22.66,0.00,2.60,5.58,1.63,3.95
MN10,3603803,132027,91244.889890,43.68,8.89,20.81,14.77,74.19,6.94,5.06,...,929,2661,44.46,22.40,23.82,0.00,3.34,5.98,1.55,4.43
MN11111,3603804,129713,56066.264730,46.26,12.64,19.09,12.10,71.81,10.93,7.17,...,1008,2846,37.36,24.39,26.81,0.22,3.75,7.48,1.96,5.52
MN12,3603801,224365,75217.432870,49.80,11.49,19.48,14.51,68.39,18.39,11.23,...,3889,6077,32.55,32.34,18.99,0.00,6.70,9.42,3.68,5.74
QN01,3604101,182860,35800.759600,49.32,9.26,27.12,15.74,66.19,9.25,5.66,...,2553,6218,41.74,21.52,21.93,0.03,6.26,8.51,2.48,6.03
QN02,3604109,150100,25142.587280,52.05,7.88,21.98,17.65,65.22,19.14,12.38,...,4712,9840,32.24,24.29,19.25,0.00,6.48,17.74,5.74,12.00
QN03,3604102,182354,44839.980490,50.10,8.48,18.96,16.20,40.08,15.70,9.50,...,4625,8804,21.71,32.46,19.76,0.06,11.04,14.96,5.15,9.81
QN04,3604107,154740,42497.737460,52.21,10.22,18.95,13.72,40.05,34.50,20.25,...,3005,6448,22.15,37.36,17.17,0.00,10.34,12.98,4.13,8.85
QN05,3604110,168488,23005.322980,48.94,9.48,14.84,15.10,68.93,18.09,8.97,...,3137,5899,30.56,22.93,23.80,0.00,11.75,10.96,3.80,7.15
QN06,3604108,107893,38598.784620,45.82,5.21,13.35,15.97,71.64,14.65,6.78,...,1745,1744,53.76,14.01,22.96,0.00,2.90,6.37,3.19,3.18
QN07,3604103,256742,21836.668490,47.61,8.43,14.06,13.96,15.29,48.07,18.68,...,4240,6750,31.41,28.34,23.03,0.18,7.83,9.22,3.56,5.66
QN08,3604106,159330,21412.216470,46.58,9.96,15.41,13.35,47.31,25.29,15.18,...,1951,4542,39.59,19.14,28.03,0.00,4.53,8.70,2.62,6.09
QN09,3604111,151202,31804.100680,48.58,10.89,16.24,14.68,NaN,NaN,NaN,...,2473,8173,26.76,24.70,23.37,0.17,10.00,15.00,3.48,11.52
QN10,3604113,134827,21979.770830,48.24,9.37,12.33,14.90,NaN,NaN,NaN,...,2066,5224,24.79,23.40,28.96,0.00,11.19,11.66,3.30,8.35
QN11,3604104,120996,12991.169540,49.38,6.24,13.72,13.04,36.98,12.56,8.47,...,1155,1693,47.08,14.87,26.07,0.00,7.13,4.85,1.97,2.88
QN12,3604112,251002,27089.677200,46.33,10.22,14.74,12.73,NaN,NaN,NaN,...,2923,10217,27.46,30.09,24.48,0.00,6.36,11.60,2.58,9.02
QN13,3604105,193102,9812.563966,46.91,9.45,12.90,13.14,27.17,30.49,13.91,...,2211,9082,32.21,23.15,26.46,0.00,6.16,12.01,2.35,9.66
QN14,3604114,107944,9541.923526,48.36,7.78,11.68,10.32,NaN,NaN,NaN,...,1439,2506,35.75,25.83,22.06,0.00,6.80,9.56,3.49,6.07
SI01,3603903,176338,12537.604960,49.29,10.93,15.08,12.94,71.43,13.59,9.00,...,1749,4911,35.67,26.10,21.81,0.08,7.50,8.83,2.32,6.51
SI02,3603902,126200,6371.997113,46.29,7.82,12.51,12.48,68.91,16.56,9.52,...,1644,2615,37.76,18.64,24.65,0.00,11.48,7.46,2.88,4.58
SI03,3603901,170741,6968.306388,48.87,8.46,11.03,13.69,36.45,57.06,26.79,...,1509,4524,45.70,15.12,23.52,0.00,7.75,7.91,1.98,5.93

In [402]:
# Save data frame
df_pop_g=df_pop.groupby(df_pop.cd_id).sum()

In [430]:
df_pop_sort = df_pop_g.sort('Total Population',ascending=False).reset_index()
df_pop_sort["Community Board"] = df_pop_sort["cd_id"]

/opt/rh/anaconda/root/envs/PUI2016_Python3/lib/python3.5/site-packages/ipykernel/__main__.py:1: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)
  if __name__ == '__main__':

In [449]:
df_pop_sort = df_pop_sort.iloc[:,(2,-1)]

In [450]:
df_pop_sort.head()

   Total Population Community Board
0            256742            QN07
1            251002            QN12
2            224365            MN12
3            221898            MN08
4            210957            BK18

In [451]:
data2_sorted.head()

  Community Board  Unique Key  Rank by Complaints
0            MA12      268053                 1.0
1            QN12      229383                 2.0
2            BK03      197306                 3.0
3            QN07      195961                 4.0
4            BK17      191720                 5.0

## The first dataset showed the most top 5 populated districts, and the second showed the top 5 ranked districts by complaints. 
## By comparing those two, QN07, MN12, QN12 appeared on both top 5 lists, as a result, we can assume that the more population in the area, the more 311 complaints could the area has.

---

### Infrastructure by Community District

In [405]:
# Infrastructure by Community District
df_infr = pd.read_csv(PUIdata + "/ACS_Computer_Use_and_Internet_2014_1Year_Estimate.csv")

In [406]:
# Check variables in file
df_infr.head()

,FIPS,Geographic Identifier,Qualifying Name,Households,Households: With An Internet Subscription,Households: Dial-Up Alone,Households: Dsl,Households: With Mobile Broadband,Households: Without Mobile Broadband,Households: Cable Modem,...,Households: Mobile Broadband Alone or With Dialup,Households: Internet Access Without A Subscription,Households: No Internet Access,% Households: With An Internet Subscription,Households.1,Households: Has A Computer,Households: With Dial-Up Internet Subscription Alone,Households: With A Broadband Internet Subscription,Households: Without An Internet Subscription,Households: No Computer
0,3603701,79500US3603701,"NYC-Bronx Community District 8--Riverdale, New...",42035,31795,444,2813,946,1867,19178,...,2168,2119,8121,75.64,42035,35048,404,30943,3701,6987
1,3603702,79500US3603702,"NYC-Bronx Community District 12--Wakefield, Ne...",44830,32243,178,849,405,444,18653,...,928,1891,10696,71.92,44830,36700,178,31435,5087,8130
2,3603703,79500US3603703,"NYC-Bronx Community District 10--Co-op City, N...",47050,32729,158,1863,398,1465,20044,...,639,2882,11439,69.56,47050,38700,158,32333,6209,8350
3,3603704,79500US3603704,NYC-Bronx Community District 11--Pelham Parkwa...,44922,32003,141,1478,474,1004,17917,...,1001,2722,10197,71.24,44922,37237,122,31278,5837,7685
4,3603705,79500US3603705,"NYC-Bronx Community District 3 & 6--Belmont, N...",57556,35503,88,1297,651,646,15847,...,1385,3312,18741,61.68,57556,42576,88,33408,9080,14980

In [407]:
df_infr["Qualifying Name"]

0     NYC-Bronx Community District 8--Riverdale, New...
1     NYC-Bronx Community District 12--Wakefield, Ne...
2     NYC-Bronx Community District 10--Co-op City, N...
3     NYC-Bronx Community District 11--Pelham Parkwa...
4     NYC-Bronx Community District 3 & 6--Belmont, N...
5     NYC-Bronx Community District 3 & 6--Belmont, N...
6     NYC-Bronx Community District 7--Bedford Park, ...
7     NYC-Bronx Community District 5--Morris Heights...
8     NYC-Bronx Community District 4--Concourse, New...
9     NYC-Bronx Community District 9--Castle Hill, N...
10    NYC-Bronx Community District 1 & 2--Hunts Poin...
11    NYC-Bronx Community District 1 & 2--Hunts Poin...
12    NYC-Manhattan Community District 12--Washingto...
13    NYC-Manhattan Community District 9--Hamilton H...
14    NYC-Manhattan Community District 10--Central H...
15    NYC-Manhattan Community District 11--East Harl...
16    NYC-Manhattan Community District 8--Upper East...
17    NYC-Manhattan Community District 7--Upper West...
18    NYC-Manhattan Community District 4 & 5--Chelse...
19    NYC-Manhattan Community District 4 & 5--Chelse...
20    NYC-Manhattan Community District 6--Murray Hil...
21    NYC-Manhattan Community District 3--Chinatown ...
22    NYC-Manhattan Community District 1 & 2--Batter...
23    NYC-Manhattan Community District 1 & 2--Batter...
24    NYC-Staten Island Community District 3--Totten...
25    NYC-Staten Island Community District 2--New Sp...
26    NYC-Staten Island Community District 1--Port R...
27    NYC-Brooklyn Community District 1--Greenpoint ...
28    NYC-Brooklyn Community District 4--Bushwick PU...
29    NYC-Brooklyn Community District 3--Bedford-Stu...
30    NYC-Brooklyn Community District 2--Brooklyn He...
31    NYC-Brooklyn Community District 6--Park Slope,...
32    NYC-Brooklyn Community District 8--Crown Heigh...
33    NYC-Brooklyn Community District 16--Brownsvill...
34    NYC-Brooklyn Community District 5--East New Yo...
35    NYC-Brooklyn Community District 18--Canarsie &...
36    NYC-Brooklyn Community District 17--East Flatb...
37    NYC-Brooklyn Community District 9--Crown Heigh...
38    NYC-Brooklyn Community District 7--Sunset Park...
39    NYC-Brooklyn Community District 10--Bay Ridge ...
40    NYC-Brooklyn Community District 12--Borough Pa...
41    NYC-Brooklyn Community District 14--Flatbush &...
42    NYC-Brooklyn Community District 15--Sheepshead...
43    NYC-Brooklyn Community District 11--Bensonhurs...
44    NYC-Brooklyn Community District 13--Brighton B...
45    NYC-Queens Community District 1--Astoria & Lon...
46    NYC-Queens Community District 3--Jackson Heigh...
47    NYC-Queens Community District 7--Flushing, New...
48    NYC-Queens Community District 11--Bayside, New...
49    NYC-Queens Community District 13--Queens Villa...
50    NYC-Queens Community District 8--Briarwood, Ne...
51    NYC-Queens Community District 4--Elmhurst & So...
52    NYC-Queens Community District 6--Forest Hills ...
53    NYC-Queens Community District 2--Sunnyside & W...
54    NYC-Queens Community District 5--Ridgewood, Ne...
55    NYC-Queens Community District 9--Richmond Hill...
56    NYC-Queens Community District 12--Jamaica, New...
57    NYC-Queens Community District 10--Howard Beach...
58    NYC-Queens Community District 14--Far Rockaway...
Name: Qualifying Name, dtype: object

In [408]:
# How many community districts are in file? 
len(df_infr["Qualifying Name"])

59

In [409]:
len(df_infr["Qualifying Name"].unique())

55

     The difference of the community districts here is becuase there are 8 districts were grouped into 4 districts.

## Aggregate the mobile subscription data

In [410]:
df_infr.columns

Index(['FIPS', 'Geographic Identifier', 'Qualifying Name', 'Households',
       'Households: With An Internet Subscription',
       'Households: Dial-Up Alone', 'Households: Dsl',
       'Households: With Mobile Broadband',
       'Households: Without Mobile Broadband', 'Households: Cable Modem',
       'Households: With Mobile Broadband.1',
       'Households: Without Mobile Broadband.1', 'Households: Fiber-Optic',
       'Households: With Mobile Broadband.2',
       'Households: Without Mobile Broadband.2',
       'Households: Satellite Internet Service',
       'Households: With Mobile Broadband.3',
       'Households: Without Mobile Broadband.3',
       'Households: Two or More Fixed Broadband Types, or Other',
       'Households: With Mobile Broadband.4',
       'Households: Without Mobile Broadband.4',
       'Households: Mobile Broadband Alone or With Dialup',
       'Households: Internet Access Without A Subscription',
       'Households: No Internet Access',
       '% Households: With An Internet Subscription', 'Households.1',
       'Households: Has A Computer',
       'Households: With Dial-Up Internet Subscription Alone',
       'Households: With A Broadband Internet Subscription',
       'Households: Without An Internet Subscription',
       'Households: No Computer'],
      dtype='object')

In [411]:
df_usage = df_infr[["Qualifying Name","Households: With An Internet Subscription",'Households: Without An Internet Subscription',
         'Households: No Computer']]

In [412]:
df_usage["Without Internet"] = df_usage["Households: Without An Internet Subscription"]+df_usage["Households: No Computer"]

/opt/rh/anaconda/root/envs/PUI2016_Python3/lib/python3.5/site-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [413]:
df_usage = df_usage.iloc[:,(0,1,4)]

In [414]:
df_usage.head()

,Qualifying Name,Households: With An Internet Subscription,Without Internet
0,"NYC-Bronx Community District 8--Riverdale, New...",31795,10688
1,"NYC-Bronx Community District 12--Wakefield, Ne...",32243,13217
2,"NYC-Bronx Community District 10--Co-op City, N...",32729,14559
3,NYC-Bronx Community District 11--Pelham Parkwa...,32003,13522
4,"NYC-Bronx Community District 3 & 6--Belmont, N...",35503,24060

## Aggregate internet type by high and low connections

In [415]:
df_connection = df_infr[["Qualifying Name",'Households: With A Broadband Internet Subscription',
         'Households: With Dial-Up Internet Subscription Alone']]
df_connection.head()

,Qualifying Name,Households: With A Broadband Internet Subscription,Households: With Dial-Up Internet Subscription Alone
0,"NYC-Bronx Community District 8--Riverdale, New...",30943,404
1,"NYC-Bronx Community District 12--Wakefield, Ne...",31435,178
2,"NYC-Bronx Community District 10--Co-op City, N...",32333,158
3,NYC-Bronx Community District 11--Pelham Parkwa...,31278,122
4,"NYC-Bronx Community District 3 & 6--Belmont, N...",33408,88

In [438]:
df_connection.columns = ["Community Board","High connection","Low connection"]
df_connection.head()

,Community Board,High connection,Low connection
0,"NYC-Bronx Community District 8--Riverdale, New...",30943,404
1,"NYC-Bronx Community District 12--Wakefield, Ne...",31435,178
2,"NYC-Bronx Community District 10--Co-op City, N...",32333,158
3,NYC-Bronx Community District 11--Pelham Parkwa...,31278,122
4,"NYC-Bronx Community District 3 & 6--Belmont, N...",33408,88

In [417]:
# Save data frame

# 5. Inform your results by linking datasets
   I understand it will be better to use re, however, I am not familiar with it yet. I will learn more and use it in the future.

In [418]:
new = []
for i in data2_sorted["Community Board"]:
    match = re.search("(.+) (.+)", i )
    #print (match.group(1))
    res = [];
    if match.group(2) == 'MANHATTAN':
        res.append("MA")
        res.append(match.group(1))
    elif match.group(2) == 'BROOKLYN':
        res.append("BK")
        res.append(match.group(1))
    elif match.group(2) == 'BRONX':
        res.append("BX")
        res.append(match.group(1))
    elif match.group(2) == 'ISLAND':
        res.append("SI")
        res.append(match.group(1)[:2])
    elif match.group(2) == 'QUEENS':
        res.append("QN")
        res.append(match.group(1))
    new.append(''.join(res))
print (new)

['MA12', 'QN12', 'BK03', 'QN07', 'BK17', 'BK05', 'BK14', 'BX07', 'BK01', 'SI01', 'BX04', 'QN01', 'QN05', 'BX12', 'QN13', 'BX05', 'BK18', 'MA07', 'QN09', 'BK12', 'MA03', 'MA08', 'BX09', 'BK15', 'MA05', 'BK08', 'BK11', 'BK04', 'MA10', 'SI03', 'BK09', 'MA02', 'MA04', 'QN10', 'MA09', 'QN08', 'BX11', 'QN03', 'SI02', 'BK02', 'QN02', 'BK06', 'BK10', 'BK07', 'MA06', 'QN14', 'QN11', 'BX06', 'QN04', 'BX10', 'MA11', 'BX08', 'QN06', 'BK16', 'MA01', 'BX03', 'BX01', 'BK13', 'BX02']

In [419]:
data2_sorted["Community Board"] = new

In [420]:
# Harmonize identifier of dataframe 1
data2_sorted.head()

  Community Board  Unique Key  Rank by Complaints
0            MA12      268053                 1.0
1            QN12      229383                 2.0
2            BK03      197306                 3.0
3            QN07      195961                 4.0
4            BK17      191720                 5.0

In [421]:
# Harmonize identifier of dataframe 

df_infr["Qualifying Name"].head()

0    NYC-Bronx Community District 8--Riverdale, New...
1    NYC-Bronx Community District 12--Wakefield, Ne...
2    NYC-Bronx Community District 10--Co-op City, N...
3    NYC-Bronx Community District 11--Pelham Parkwa...
4    NYC-Bronx Community District 3 & 6--Belmont, N...
Name: Qualifying Name, dtype: object

In [423]:
new = []
for i in df_infr["Qualifying Name"]:
    cur = i.split(' ') 
    res = [];
    if cur[0] == 'NYC-Manhattan':
        res.append("MA")
        num = cur[3].split('--'); 
        if(int(num[0])<10):
            res.append('0'+num[0])
        else:
             res.append(num[0]) 
    elif  cur[0] == 'NYC-Brooklyn':
        res.append("BK")
        num = cur[3].split('--'); 
        if(int(num[0])<10):
            res.append('0'+num[0])
        else:
             res.append(num[0]) 
    elif  cur[0] == 'NYC-Bronx':
        res.append("BX")
        num = cur[3].split('--'); 
        if(int(num[0])<10):
            res.append('0'+num[0])
        else:
             res.append(num[0]) 
    elif  cur[0] == 'NYC-Staten':
        res.append("SI")
        num = cur[4].split('--'); 
        if(int(num[0])<10):
            res.append('0'+num[0])
        else:
             res.append(num[0]) 
    elif  cur[0] == 'NYC-Queens':
        res.append("QN")
        num = cur[3].split('--'); 
        if(int(num[0])<10):
            res.append('0'+num[0])
        else:
             res.append(num[0]) 
    new.append(''.join(res))
print (new)

['BX08', 'BX12', 'BX10', 'BX11', 'BX03', 'BX03', 'BX07', 'BX05', 'BX04', 'BX09', 'BX01', 'BX01', 'MA12', 'MA09', 'MA10', 'MA11', 'MA08', 'MA07', 'MA04', 'MA04', 'MA06', 'MA03', 'MA01', 'MA01', 'SI03', 'SI02', 'SI01', 'BK01', 'BK04', 'BK03', 'BK02', 'BK06', 'BK08', 'BK16', 'BK05', 'BK18', 'BK17', 'BK09', 'BK07', 'BK10', 'BK12', 'BK14', 'BK15', 'BK11', 'BK13', 'QN01', 'QN03', 'QN07', 'QN11', 'QN13', 'QN08', 'QN04', 'QN06', 'QN02', 'QN05', 'QN09', 'QN12', 'QN10', 'QN14']

In [427]:
new = ['BX08', 'BX12', 'BX10', 'BX11', 'BX03', 'BX06', 'BX07', 'BX05', 'BX04', 'BX09', 'BX01', 'BX02',
       'MA12', 'MA09', 'MA10', 'MA11', 'MA08', 'MA07', 'MA04', 'MA05', 'MA06', 'MA03', 'MA01', 'MA02',
       'SI03', 'SI02', 'SI01', 'BK01', 'BK04', 'BK03', 'BK02', 'BK06', 'BK08', 'BK16', 'BK05', 'BK18',
       'BK17', 'BK09', 'BK07', 'BK10', 'BK12', 'BK14', 'BK15', 'BK11', 'BK13', 'QN01', 'QN03', 'QN07',
       'QN11', 'QN13', 'QN08', 'QN04', 'QN06', 'QN02', 'QN05', 'QN09', 'QN12', 'QN10', 'QN14']

In [440]:
df_connection["Community Board"] = new
df_connection.head()

/opt/rh/anaconda/root/envs/PUI2016_Python3/lib/python3.5/site-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

  Community Board  High connection  Low connection
0            BX08            30943             404
1            BX12            31435             178
2            BX10            32333             158
3            BX11            31278             122
4            BX03            33408              88

In [ ]:
# Harmonize identifier of dataframe 3

In [454]:
# Link the 3 dataframes
united = pd.merge(df_connection, data2_sorted, on = "Community Board",how ="inner")
united = pd.merge(united, df_pop_sort, on = "Community Board" )
united.sort("High connection")

/opt/rh/anaconda/root/envs/PUI2016_Python3/lib/python3.5/site-packages/ipykernel/__main__.py:4: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)

,Community Board,High connection,Low connection,Unique Key,Rank by Complaints,Total Population
21,BK16,24376,64,85467,54.0,123772
7,BX05,25772,54,161078,16.0,132850
32,BK13,27559,191,72362,58.0,110727
28,BK12,27609,268,150320,20.0,170011
46,QN14,27803,178,103396,46.0,107944
8,BX04,27971,316,181953,11.0,141467
25,BK09,28023,334,135833,31.0,109337
45,QN10,29698,338,128116,34.0,134827
0,BX08,30943,404,92733,52.0,106737
10,BX01,30958,0,74631,57.0,167147
11,BX02,30958,0,60257,59.0,167147
6,BX07,31021,0,185729,8.0,135893
3,BX11,31278,122,122081,37.0,135839
1,BX12,31435,178,168455,14.0,134644
2,BX10,32333,158,95496,50.0,121209
17,BK03,32660,110,197306,3.0,133235
16,BK04,32845,0,139706,28.0,137368
39,QN04,33180,68,99316,49.0,154740
4,BX03,33408,88,75134,56.0,172247
5,BX06,33408,88,99547,48.0,172247
20,BK08,34367,91,141119,26.0,126747
13,SI02,34435,89,121132,39.0,126200
24,BK17,34990,256,191720,5.0,137526
26,BK07,35429,21,107031,44.0,152685
43,QN09,35511,296,151242,19.0,151202
22,BK05,36743,85,189765,6.0,155863
36,QN11,37199,79,101908,47.0,120996
27,BK10,37282,327,111837,43.0,128545
30,BK15,39783,314,146129,24.0,137815
34,QN03,40114,202,122009,38.0,182354
40,QN06,41070,400,90938,53.0,107893
38,QN08,43232,223,123131,36.0,159330
41,QN02,43902,68,114333,41.0,150100
29,BK14,43975,272,187794,7.0,180723
19,BK06,44121,57,114029,42.0,125062
9,BX09,45261,180,147457,23.0,190126
18,BK02,45378,252,121022,40.0,139070
31,BK11,45438,164,139890,27.0,187637
15,BK01,46148,449,185057,9.0,154713
14,SI01,46362,134,182713,10.0,176338
42,QN05,47925,298,168570,13.0,168488
12,SI03,48956,0,136487,30.0,170741
37,QN13,49266,383,163851,15.0,193102
44,QN12,53106,514,229383,2.0,251002
23,BK18,53561,156,156100,17.0,210957
33,QN01,60733,277,171484,12.0,182860
35,QN07,67680,150,195961,4.0,256742

# Are the demographics and infrastructure different in Community Districts that show more complaints than others?

    It seems like the higher the internet connection, the more complaints. Maybe rich people likes to complain more or bigger fammilies likes to complain more. Also the more crowded the area, the more complaints.